body {
  padding-top: 70px;
  background-color: #FCFBED;

}

.jumbotron {
  background-color: #F5F3DA;
  box-shadow: 0 8px 16px -6px black;
  border-radius: 20px;
  text-align: center;

}



.jumbotron p {
  font-size: 15px;
}
